<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>크롤링자동화PJ</title>
</head>
<style>
    .g_table {
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
        border: 1px solid black;
    }

    .g_table tr {
        border-bottom: 1px solid #ede;
    }
</style>

<body>
    <form method="GET" action="{% url 'crawling' %}">
        <h1>찾을 class와 태그를 입력하세요</h1>
        <p>div.title01 또는 title01 ... 이렇게 입력</p>

        <div>
            <label for="">url</label>
            <input type="text" name="url" placeholder="url" required>
        </div>
        <div>
            <p>클릭할 요소 (a태그 href 요소)</p>
            <input type="text" name="click[]"> <button class="click_add">추가</button>
        </div>
        <div>
            <p>검색할 요소</p>
            <input type="text" name="search_input" placeholder="검색창 class">
            <input type="text" name="serach_word" placeholder="검색단어">
        </div>
        <div>
            <p>화면 스크롤(무한스크롤이 있을경우에)</p>
            <input type="text" name="scroll_px" placeholder="px">
        </div>
        <div>
            <label for="">제목</label>
            <!-- <select name="title_tag" id="title_tag">
                <option value="1" selected>div</option>
                <option value="2">article</option>
                <option value="3">section</option>
                <option value="4">p</option>
                <option value="5">a</option>
            </select> -->
            <input type="text" name="title" placeholder="제목" required>

        </div>
        <div>
            <label for="">콘텐츠</label>
            <!-- <select name="content_tag" id="content_tag">
                <option value="1" selected>div</option>
                <option value="2">article</option>
                <option value="3">section</option>
                <option value="4">p</option>
                <option value="5">a</option>
            </select> -->
            <input type="text" name="content" placeholder="콘텐츠" required>
        </div>

        <div>
            <label for="">기자</label>
            <!-- <select name="author_tag" id="author_tag">
                <option value="1" selected>div</option>
                <option value="2">article</option>
                <option value="3">section</option>
                <option value="4">p</option>
                <option value="5">a</option>
            </select> -->
            <input type="text" name="author" placeholder="기자" required>
        </div>

        <button type="submit">찾아!!!!</button>

    </form>

    <div>
        <h2>수집한 데이터</h2>
        <form action="{% url 'delete_data'%}" method="POST">
            {% csrf_token %}
            <button id="all_checkbox" type="button">모두선택</button>
            <button id="delete" type="submit">삭제</button>
            <table class="g_table">
                <thead>
                    <th>
                    <td>id</td>
                    <td>제목</td>
                    <td>설명</td>
                    <td>저자</td>
                    </th>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>
                            <input id="d-{{data.id}}" type="checkbox" value="{{data.id}}" name="pk">
                        </td>
                        <td>{{data.id}}</td>
                        <td>{{data.title|truncatechars:"10"|default:"-"}}</td>
                        <td>{{data.content|truncatechars:"10"|default:"-"}}</td>
                        <td>{{data.author|default:"-"}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">
                            <p>데이터가 없습니다</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</body>

<script>
    // 나중에 파일로 따로 보관 합니다

    // 모두삭제 선택 기능
    /*
    1. id = "all_checkbox" 를 클릭한다
    2.  name 이 pk 인 모든 checkbox 요소에 checked 가 되도록 조정한다
    */
    function selectAll() {
        let checkboxes = document.getElementsByName("pk");
        checkboxes.forEach((checkbox) => {
            checkbox.checked = !checkbox.checked;
        })
    }
    const select_all_button = document.getElementById("all_checkbox");
    select_all_button.addEventListener('click', selectAll)

    // 클릭할 요소 추가 기능
    /*
        1. 
    */
</script>

</html>