<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>크롤링자동화PJ</title>
</head>
<style>
    .g_table {
        width: 50%;
        max-width: 800px;
        border: 1px solid black;
    }

    .g_table tr {
        border-bottom: 1px solid #ede;
    }
</style>

<body>
    <form method="GET" action="{% url 'crawling' %}">
        <h1>찾을 class와 태그를 입력하세요</h1>
        <p>
            빈값으로 입력하면 태그에 "div" 가 들어갑니다
        </p>
        <div>
            <label for="">url</label>
            <input type="text" name="url" placeholder="url" required>
        </div>
        <div>
            <label for="">제목</label>
            <input type="text" name="title_tag" placeholder="">
            <input type="text" name="title" placeholder="제목" required>

        </div>
        <div>
            <label for="">콘텐츠</label>
            <input type="text" name="content_tag">
            <input type="text" name="content" placeholder="콘텐츠">
        </div>

        <div>
            <label for="">기자</label>
            <input type="text" name="author_tag">
            <input type="text" name="author" placeholder="기자">
        </div>

        <button type="submit">찾아!!!!</button>

    </form>

    <div>
        <h2>수집한 데이터</h2>
        <form action="{% url 'delete_data'%}" method="POST">
            {% csrf_token %}
            <button id="all_checkbox" type="submit">삭제</button>
            <table class="g_table">
                <thead>
                    <th>
                    <td>선택</td>
                    <td>id</td>
                    <td>제목</td>
                    <td>설명</td>
                    <td>저자</td>
                    </th>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>
                            <input id="d-{{data.id}}" type="checkbox" value="{{data.id}}" name="pk">
                        </td>
                        <td>{{data.id}}</td>
                        <td>{{data.title|truncatechars:"10"|default:"-"}}</td>
                        <td>{{data.content|truncatechars:"10"|default:"-"}}</td>
                        <td>{{data.author|default:"-"}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">
                            <p>데이터가 없습니다</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>


    </div>
</body>

</html>